@font-face {
  font-family: 'GothamRegular';
  src: url('../assets/fonts/GothamRegular.ttf');
}

@font-face {
  font-family: 'GothamLight';
  src: url('../assets/fonts/GothamLight.ttf');
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

#pageTitle {
  position: absolute;
  left: 2.6%;
  top: 4%;
}

#downContainer {
  /* Sync this with script on html */
  visibility: hidden;
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  transition: 0.9s;
}

#bigImage2 {
  position: absolute;
  left: 50%;
}

#bigImage4 {
  position: absolute;
  left: 50%;
}

#svgOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-family: 'GothamRegular', sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

#button1 {
  left: 25%;
}

#button2 {
  left: 75%;
}

.title {
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 2.3vw;
  z-index: 2;
  font-family: 'GothamRegular', sans-serif;
  font-weight: bolder;
  color: #072d61;
}

#footer {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

#logo {
  /* Sync this with script on html */
  visibility: hidden;
  margin-top: 8px;
  margin-left: 2.6%;
  height: auto;
}

.subtitle {
  /* Sync this with script on html */
  visibility: hidden;
  display: inline-block;
  margin-left: 80px;
  font-family: 'GothamRegular', sans-serif;
  font-size: 3.2vh;
  font-weight: bolder;
  margin-top: 0;
  color: #072d61;
}

.subsubtitle {
  margin-left: 0;
  font-size: 1.6vh;
  font-family: 'GothamLight', sans-serif;
}

#arrowDown {
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 95%;
  height: auto;
  cursor: pointer;
}

#arrowUp {
  position: absolute;
  transform: translate(-50%, 0);
  left: 49.4%;
  top: 20px;
  height: auto;
  cursor: pointer;
}

#detector {
  position: absolute;
  width: 20%;
  height: auto;
  transform: translate(0, -50%);
  left: 55%;
  top: -5%;
}

#plus {
  position: absolute;
  width: 2.8%;
  height: auto;
  left: 76%;
  top: 5%;
  font-family: 'GothamLight', sans-serif;
  font-size: 6vw;
  font-weight: 600;
  color: #072D61;
}

#mobile {
  position: absolute;
  width: 8%;
  height: auto;
  transform: translate(0, -50%);
  left: 85%;
  top: 0;
}

#homeMobile {
  position: absolute;
  width: 8%;
  height: auto;
  transform: translate(0, -50%);
  left: 70%;
  top: 0;
}

#homeMobile2 {
  position: absolute;
  width: 8%;
  height: auto;
  transform: translate(0, -50%);
  left: 80%;
  top: 0;
}

#soundContainer {
  position: absolute;
  display: block;
  z-index: 2;
  background-color: #fff;
  left: 150%;
  transition: 0.9s;
  overflow-y: scroll;
}

#detectorRunningTitle {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 100%;
  text-align: center;
  margin-left: 20px;
  margin-top: 3.8%;
  font-family: 'GothamRegular', sans-serif;
  font-weight: bolder;
  color: #072d61;
}

#buttonDetectorContainer {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 23%;
  z-index: 2;
}

.detectorButtonText {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  font-family: 'GothamRegular', sans-serif;
  font-size: 1vw;
  text-align: center;
  color: #7e7e7e;
}

.detectorButtonTextSelected {
  font-weight: bolder;
  color: #fff;
}

.detectorButton {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 100%;
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  cursor: pointer;
}

.detectorButtonSelected {
  background-color: #4285f4;
}

#detectorButtonLeft {
  border-radius: 17px 0px 0px 17px;
}

#detectorButtonRight {
  border-radius: 0px 17px 17px 0px;
}

#volume {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 36%;
  width: 6.5%;
  z-index: 2;
  height: auto;
  cursor: pointer;
}

#detectorEmpty {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 45%;
  height: auto;
  left: 30%;
  top: 68%;
}

#mobileHome {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 19%;
  height: auto;
  left: 67.45%;
  top: 70%;
}

.arrowLeft {
  position: absolute;
  transform: translate(-100%, 0);
  height: auto;
  left: 95%;
  top: 7.5%;
  cursor: pointer;
}

#techContainer {
  position: absolute;
  overflow: visible;
  display: block;
  z-index: 2;
  background-color: #fff;
  left: 150%;
  transition: 0.9s;
  overflow-y: scroll;
}

.techTitle {
  transform: translate(0, 0);
  color: #072d61;
}

#techTitle1 {
  left: 2.6%;
  top: 9%;
}

#techDescription {
  position: absolute;
  left: 33.33%;
  font-family: 'GothamRegular', sans-serif;
  color: #072d61;
  font-weight: bold;
}

#techTitle2 {
  left: 2.6%;
  top: 64%;
}

#tech1 {
  position: absolute;
  left: 34.55%;
  top: 58%;
  width: 57.1%;
  height: auto;
}

#tech2 {
  position: absolute;
  left: 62.5%;
  top: 63%;
  width: 11%;
  height: auto;
}

#tech3 {
  position: absolute;
  left: 80%;
  top: 64%;
  width: 13%;
  height: auto;
}

#techTitle3 {
  left: 2.6%;
  top: 100%;
}

.techList {
  display: inline-block;
}

#techBoxDescription {
  position: absolute;
  left: 20%;
  top: 100%;
  font-family: 'GothamRegular', sans-serif;
  color: #072d61;
  font-weight: bold;
}

#techBig {
  position: absolute;
  left: 15%;
  width: 78%;
  height: auto;
  top: 118%;
}

#loader {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 42%;
  top: 50%;
  z-index: 4;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  border-radius: 50%;
  box-shadow: 0 0 30px #fff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

#shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

#homeShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* Update this prop with home.js -> imgHeightCoef */
  height: 82%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.arrowH {
  width: 6%;
  height: auto;
}

#homeDetector1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 25%;
  top: 150px;
  z-index: 3;
  width: 80%;
  cursor: pointer;
}

#homeDetector2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 75%;
  top: 150px;
  z-index: 3;
  width: 80%;
  cursor: pointer;
}

#homeDetectorTitle1 {
  position: absolute;
  left: 20%;
  top: 340px;
  z-index: 6;
  font-family: 'GothamRegular', sans-serif;
  font-size: 3vw;
  color: #fff;
}

#homeDetectorTitle2 {
  position: absolute;
  left: 69%;
  top: 340px;
  z-index: 6;
  font-family: 'GothamRegular', sans-serif;
  color: #fff;
  font-size: 3vw;
}
