body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

#boxShadow {
  height: 200px;
  width: 400px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.shadowContainer {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  z-index: 1;
  top: 0;
  height: 200%;
  width: 200%;
  box-shadow: inset 0px 0px 80px 80px rgba(200, 200, 200, 1);
}

#bigImage2 {
  position: absolute;
  left: 50%;
}

.title {
  position: absolute;
  transform: translate(-50%);
  left: 25%;
  top: 10px;
  font-family: Quicksand;
  font-size: 2.3vw;
  z-index: 2;
  font: Medium 50px/60px Gotham Rounded;
  font-weight: bolder;
  letter-spacing: 0;
  color: #072d61;
}

#footer {
  position: absolute;
  width: 100%;
  background-color: #ddd;
  z-index: 2;
}

#logo {
  margin-top: 8px;
  margin-left: 38px;
  height: 65%;
  width: auto;
}

.subtitle {
  display: inline-block;
  height: 100%;
  margin-left: 30px;
  font-family: Quicksand;
  font-size: 3.2vh;
  font-weight: bolder;
  color: #072d61;
}

.subsubtitle {
  margin-left: 0;
  font-size: 1.6vh;
}